*.gcda
*.gcno
*.o
*/.deps
*~
.\#*
.deps
/ABOUT-NLS
/GNUmakefile
/aclocal.m4
/autom4te.cache/
/build-aux
/config.h
/config.hin
/config.log
/config.status
/configure
/dc-rhev-image
/gnulib-tests
/iwhd
/iwhd-*.tar.gz
/iwhd-*.tar.gz.sig
/iwhd-*.tar.xz
/iwhd-*.tar.xz.sig
/iwhd-conf.js
/iwhd.init
/iwhd.spec
/m4/.gitignore
/maint.mk
/man/iwhd.8
/parser-test
/parser-test.c
/qlexer.c
/qparser.c
/qparser.h
/stamp-h1
/t/*.log
/t/lock-dir
ChangeLog
ID
INSTALL
Makefile
Makefile.in
TAGS
\#*\#
