*.o
*/.deps
*~
.\#*
.deps
/GNUmakefile
/aclocal.m4
/autom4te.cache/
/build-aux
/config.h
/config.hin
/config.log
/config.status
/configure
/gnulib-tests
/iwhd
/iwhd-*.tar.gz
/iwhd-qparser.c
/iwhd-qparser.h
/iwhd.spec
/m4/.gitignore
/maint.mk
/man/iwhd.8
/qlexer.c
/stamp-h1
/t/*.log
/t/parser
/t/parser.c
ChangeLog
Makefile
Makefile.in
\#*\#
