*.o
*~
.\#*
.deps
ChangeLog
Makefile
Makefile.in
\#*\#
aclocal.m4
autom4te.cache/
build-aux
config.h
config.hin
config.log
config.status
configure
iwhd
iwhd-*.tar.gz
iwhd-qparser.c
iwhd-qparser.h
qlexer.c
stamp-h1
t/*.log
t/parser
t/parser.c
