/arg-nonnull.h
/basename-lgpl.c
/basename.c
/bitrotate.h
/c++defs.h
/c-ctype.c
/c-ctype.h
/charset.alias
/close-stream.c
/close-stream.h
/closeout.c
/closeout.h
/config.charset
/configmake.h
/dirname-lgpl.c
/dirname.c
/dirname.h
/errno.h
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fpending.c
/fpending.h
/getopt.c
/getopt.h
/getopt.in.h
/getopt1.c
/getopt_int.h
/gettext.h
/gnulib.mk
/hash-pjw.c
/hash-pjw.h
/hash.c
/hash.h
/intprops.h
/inttypes.h
/inttypes.in.h
/iswblank.c
/libiwhd.a
/localcharset.c
/localcharset.h
/malloc.c
/mbrtowc.c
/mbsinit.c
/memchr.c
/memchr.valgrind
/progname.c
/progname.h
/quotearg.c
/quotearg.h
/realloc.c
/ref-add.sed
/ref-add.sin
/ref-del.sed
/ref-del.sin
/stdarg.h
/stdarg.in.h
/stdbool.h
/stdbool.in.h
/stddef.h
/stddef.in.h
/stdint.h
/stdint.in.h
/stdlib.h
/stdlib.in.h
/stpcpy.c
/streq.h
/strerror.c
/string.h
/string.in.h
/stripslash.c
/strndup.c
/strnlen.c
/strtoimax.c
/strtol.c
/strtoll.c
/strtoul.c
/strtoull.c
/strtoumax.c
/sys
/sys_wait.in.h
/unistd.h
/unistd.in.h
/unlocked-io.h
/verify.h
/version-etc-fsf.c
/version-etc.c
/version-etc.h
/warn-on-use.h
/wchar.h
/wchar.in.h
/wctype.h
/wctype.in.h
/xalloc-die.c
/xalloc.h
/xmalloc.c
/xstrndup.c
/xstrndup.h
/xstrtol-error.c
/xstrtol.c
/xstrtol.h
/xstrtoul.c
/xstrtoumax.c
