# This file is sourced by init.sh, *before* its initialization.

# This goes hand in hand with the "exec 9>&2;" in Makefile.am's
# TESTS_ENVIRONMENT definition.
stderr_fileno_=9

# Always use curl's -q option, so that a user's .rc settings
# cannot perturb these tests.
# Also add -s and -S to get rid of silly progress bars etc.
curl() { env curl -q -s -S "$@"; }

wait_for()
{
  local sleep_seconds=$1
  local max_n_sleeps=$2
  local cmd=$3
  case $max_n_sleeps in
    [0-9]*);; *) echo invalid max_n_sleeps $max_n_sleeps 1>&2; exit 1;;
  esac
  case $sleep_seconds in
    [0-9]*|.[0-9]*);; *) echo invalid sleep interval $sleep_seconds 1>&2; exit 1;;
  esac
  local i=0
  while :; do
    eval "$cmd" && return 0
    sleep $sleep_seconds
    i=$(expr $i + 1)
    test $i = $max_n_sleeps && return 1
  done
}
